
body {
  font-family: Akzidenz,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.sidebar {
  width: inherit;
  min-width: 300px;
  padding-top: 60px;
  padding-left: 20px;
  background-color:#ebebed;
  float: left;
  height:100%;
  position:absolute;
  overflow-y:auto;
  overflow-x:hidden;
}



.workbench {
  padding: 60px;
  height:100%;
  overflow:auto;
  margin-top: 0;
  margin-left: 250px;

}




.btn {
    margin-right: 8px;
}

.btn-primary {
  background: #6ca439;
  border-color: #6ca439;
}

.btn-primary:hover {
  background: #6cb33F;
  border-color: #6ca439;
}


.angular-ui-tree-handle {
    color: #31302F;
    padding: 2px 2px;
}

.angular-ui-tree-handle:hover {
    color: #6ca439;
    background: #f4f6f7;
}


.angular-ui-tree-handle-label {
    font-size: 12px;
    color: #615F5F;
}

.angular-ui-tree-handle-label:hover  {
    color: #6ca439;
    background: #f4f6f7;
    text-decoration: none;
}


.angular-ui-tree-placeholder {
    background: #f0f9ff;
    
}

.tree-node-icon {
  background-color:#ebebed;
}

.tree-glyphicon {
  color: #615F5F;
  background-color:#ebebed;
}

.tree-glyphicon:hover {
  color: #6ca439;
  background-color:#ebebed;

}

.tree-header {
  padding-bottom: 10px;
  padding-left: 10px;
} 


.modal-body {
  margin-right : 20px;
  margin-left : 20px;
}

.css-form input.ng-invalid {
  background-color: #FCE4E5;
}

.css-form input.ng-valid.ng-touched {
  background-color: #E6FAE8;
}
